# Storage Configuration
PROVIDER=s3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
BUCKET=
S3_ENDPOINT=
S3_REGION=
S3_PATH_STYLE=true

# Application Configuration
MAX_UPLOAD_SIZE=5368709120
PURGE_DAYS=1
RANDOM_TOKEN_LENGTH=8
LISTENER=:8080
TEMP_PATH=/tmp

# Proxy Configuration
PROXY_PATH=/
PROXY_PORT=443

# Custom Web Interface
WEB_PATH=/webapp

# Security & Performance
RATE_LIMIT=100
CORS_DOMAINS=*
